@model Sistema_de_Emprestimos.Models.Emprestimo

@{
    ViewData["Title"] = "Editar Empréstimo";
}

<h1>Editar</h1>

<h4>Empréstimo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Aluno" class="control-label"></label>
                <input asp-for="Aluno" class="form-control" />
                <span asp-validation-for="Aluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario" class="control-label"></label>
                <input asp-for="Funcionario" class="form-control" />
                <span asp-validation-for="Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoFuncionario" class="control-label"></label>
                <input asp-for="CargoFuncionario" class="form-control" />
                <span asp-validation-for="CargoFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivroEmprestado" class="control-label"></label>
                <input asp-for="LivroEmprestado" class="form-control" />
                <span asp-validation-for="LivroEmprestado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPublicacaoLivro" class="control-label"></label>
                <input asp-for="DataPublicacaoLivro" class="form-control" />
                <span asp-validation-for="DataPublicacaoLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUltimaAtualizacao" class="control-label"></label>
                <input asp-for="DataUltimaAtualizacao" class="form-control" />
                <span asp-validation-for="DataUltimaAtualizacao" class="text-danger"></span>
            </div>
            <div class="form-group d-flex mt-4 gap-4">
                <input type="submit" value="Editar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger"><i class="bi bi-arrow-return-left"></i>Voltar</a>
            </div>
        </form>
    </div>

</div>
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
