@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Sistema de Empréstimos</h1>
    <p>"O livro é o único lugar em que você pode ser alguém diferente. Você vira personagem e, ao mesmo tempo, se torna o autor de sua própria história."</p>
    <div>
        <img src="/img/livro2.svg" class="d-block mx-auto w-50"/>
    </div>
</div>
